[Unit]
Description=Containerized Caddy Reverse Proxy

[Container]
AutoUpdate=registry
ContainerName=caddy
Image=docker.io/library/caddy:alpine
Network=webserver.network
PublishPort=80:80
PublishPort=443:443
Volume=/etc/caddy/Caddyfile:/etc/caddy/Caddyfile
Volume=caddy-data.volume:/data

[Install]
WantedBy=default.target
