[Unit]
Description=Containerized Homer Dashboard

[Container]
ContainerName=homer
Image=docker.io/b4bz/homer:latest
Network=webserver.network
Volume=/etc/homer:/www/assets
AutoUpdate=registry

[Install]
WantedBy=default.target
