[Unit]
Description=Cloudflare WARP Daemon in Container Network

[Container]
ContainerName=cloudflared
Exec=tunnel --no-autoupdate run
Image=docker.io/cloudflare/cloudflared:latest
Network=zero-trust.network
Secret=cloudflared-tunnel-token,type=env,target=TUNNEL_TOKEN
AutoUpdate=registry

[Install]
WantedBy=default.target
