[Unit]
Description=Containerized PostgreSQL Database for Hollo

[Container]
ContainerName=hollo-db
Image=docker.io/library/postgres:17-alpine
Pod=fediverse.pod
Secret=hollo-db-password,type=env,target=POSTGRES_PASSWORD
Volume=hollo-db-data.volume:/var/lib/postgresql/data
AutoUpdate=registry

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
