[Unit]
Description=Containerized Vaultwarden Instance

[Container]
ContainerName=vaultwarden
Image=docker.io/vaultwarden/server:alpine
Environment=DOMAIN=https://vault.rangho.moe
Environment=PUSH_ENABLED=true
Environment=PUSH_INSTALLATION_ID=770e60c8-dfe8-4ffc-90ba-b1a600f786d8
Environment=PUSH_INSTALLATION_KEY=6tYzjVsBnoJhUImIxNuO
Environment=SIGNUPS_ALLOWED=false
Network=zero-trust.network
Volume=vaultwarden-data.volume:/data
AutoUpdate=registry

[Install]
WantedBy=default.target
