[Unit]
Description=Mount DAS disk

[Mount]
What=/dev/disk/by-uuid/6d37e713-6c9f-4460-8081-bb6a4e9a0ee7
Where=/mnt
Type=btrfs
Options=rw,autodefrag,compress=zstd:3,noatime

[Install]
WantedBy=default.target
