[Unit]
Description=Fetch and Register Podman Secret
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/populate-secret %i
