[Unit]
Description=Create Podman Secret for Databases

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "/usr/bin/openssl rand -base64 24 | /usr/bin/podman secret create --replace database -"

[Install]
WantedBy=default.target
