[Unit]
Description=Containerized CUPS Daemon
After=network-online.target

[Container]
ContainerName=cupsd
Image=docker.io/olbat/cupsd
Network=host
Volume=/var/run/dbus
AddDevice=/dev/bus/usb

[Install]
WantedBy=default.target
