[Unit]
Description=Containerized Vaultwarden Instance
After=network-online.target

[Container]
ContainerName=vaultwarden
Image=docker.io/vaultwarden/server:alpine
Environment=DOMAIN=http://vaultwarden/vault
Environment=PUSH_ENABLED=true
Environment=PUSH_INSTALLATION_ID=770e60c8-dfe8-4ffc-90ba-b1a600f786d8
Environment=PUSH_INSTALLATION_KEY=6tYzjVsBnoJhUImIxNuO
Volume=vaultwarden-data.volume:/data
Network=webserver.network

[Install]
WantedBy=default.target
