[Unit]
Description=Generate a Random Podman Secret

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c '/usr/bin/podman secret exists %i || /usr/bin/openssl rand -hex 32 | /usr/bin/tr -d "\n" | /usr/bin/podman secret create --replace %i -'
