[Unit]
Description=Containerized Port 9100+n Print Server Daemon
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=p910nd
Image=docker.io/justinhimself/p910nd
Network=host
AddDevice=/dev/usb/lp0

[Install]
WantedBy=default.target
