[Unit]
Description=Containerized Vaultwarden Instance
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=vaultwarden
Image=docker.io/vaultwarden/server
PublishPort=8001:80
Volume=vaultwarden.volume:/data

[Install]
WantedBy=default.target
