[Unit]
Description=Containerized Vaultwarden Instance
Wants=vaultwarden.volume
Requires=webserver.network

[Container]
ContainerName=vaultwarden
Image=docker.io/vaultwarden/server
Volume=vaultwarden.volume:/data
Network=webserver.network

[Install]
WantedBy=default.target
