[Unit]
Description=Container Network for Web Services
Wants=network-online.target
After=network.online.target

[Network]
Driver=bridge

[Install]
WantedBy=default.target
