[Unit]
Description=Fetch and Register Podman Secret
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c '/usr/bin/curl --fail-with-body http://roastery.internal/%i.txt | /usr/bin/podman secret create --replace %i -'
